<h1>Contact</h1>
<p>Please feel free to contact us with any questions regarding Palaver.</p>
<table>
  <tr>
    <td style="text-align: left"><b>Email:</b></td>
    <td>dhafer.rails@gmail.com</td>
  </tr>
  <tr>
    <td style="text-align: left"><b>Phone:</b></td>
    <td>(951) 444-8585</td>
  </tr>
</table>
