<h1 style="color: #09c; text-shadow: 0.05em 0.05em 0.2em gray">Contact</h1>
<p>Please feel free to contact us with any questions regarding Palaver.</p>
<table>
  <tr>
  </tr>
  <tr>
    <td><b>Email:</b></td>
    <td>dhafer.rails@gmail.com</td>
  </tr>
  <tr>
  <td></td>
 </tr>
  <tr>
    <td><b>Phone:</b></td>
    <td>(951) 444-8585</td>
  </tr>
</table>
