<h1>Designs</h1>
<p>These are some design works. Right-click and choose "save target as" if you would like to download any of the files.</p>
<table>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
  </tr>
  <tr>
    <td>Construction Image</td>
    <td><a href="images/construction.png">Download</a></td>
  </tr>
  <tr>
    <td>Background Image</td>
    <td><a href="images/back2.png">Download</a></td>
  </tr>
  <tr>
    <td>Williams Image</td>
    <td><a href="images/williams_letterhead.pdf">Download</a></td>
  </tr>
  
</table>

