<h1 style="color: #09c; text-shadow: 0.05em 0.05em 0.2em gray">A new kind of blog</h1>
<p>Where idle talk has a home.</p>
 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

