<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "copyright 2011 © Dillon Hafer", '#' %></li>
      <li><%= link_to "|", '#' %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
